# IDE configurations
/.vscode/
/.idea/

# cache
__pycache__/

# virtual environment
/venv/

# space-intensive data
checkpoints/
training_data/
eval_data/
wandb/
tsplib/
outputs/
build/
models/
tmp/

# datasets
DIMACS/
BHOSLIB/
RANDOM/

# cython files
*.c
*.so
*.html
*.csv

# other files
.DS_Store

